# Swift / SwiftPM
.build/
.swiftpm/
Package.resolved
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/

# Xcode
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
xcuserdata/
build/

# macOS
.DS_Store

# Editors
.vscode/
.idea/
*.swp
